* {
  font-size: 100%;
  padding: 16px;
  line-height: 1;
}
.apollo {
  max-width: 150px;
  max-height: 150px;
  margin-left: 10px;
  margin-top: 10px;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tabs{
  display: flex;
  justify-content: left;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: center;
}
button {
  flex-direction: row;
  max-height: 85px;
  background-color: transparent;
}
body {
  height: 100%;
  background: linear-gradient(281deg, #9fbfc8 40%, #d0aed6 75%);
}
nav {
  display: inline;
  justify-content: space-evenly;
}
footer li {
  display: inline;
}
.searchBar {
  position: fixed; /* Fix the position at the top */
  top: 0;
  left: 0;
  width: 100%; /* Ensure it spans the entire width */
  background-color: transparent; /* Optional background color */
  padding: 10px; /* Optional padding for visual appeal */
  z-index: 100; /* Optional: Raise the bar above other elements */
}

.MobileSection {
  width: 100%
  margin-bottom: 2-1rem;
  padding-bottom: 30rem;
  margin-right: -2.5rem;
  margin-left: -56px;
  color: #000;
  background-color: #ded44d;
}
.listening {
  margin-bottom: 2-1rem;
  padding-bottom: 25rem;
  margin-right: -2.5rem;
  margin-left: -56px;
  color: #000;
  background-color: #5453a8;
}
.onboard_info{
  margin: 2rem 0;
  font-size: 1.4rem;
  text-align: center;
  opacity: 1;
  transition: opacity .15s linear;
}
.musicListener {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  margin-left: 10px;
  margin-top: 10px;
  aspect-ratio: 4/3;
}
.plane {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  margin-left: 10px;
  margin-top: 10px;
  aspect-ratio: 4/3;
}
@media screen and (min-width: 320px) {
  main {
    font-size: 16px;
  }
}
@media screen and (min-width: 320px) {
  nav {
    display: flex; /* Use flexbox for vertical arrangement */
    flex-direction: row; /* Stack images vertically */
    flex-wrap: wrap;
  }
}
