* {
  font-size: 100%;
  padding: 16px;
  line-height: 1;
}
.apollo {
  max-width: 150px;
  max-height: 150px;
  margin-left: 10px;
  margin-top: 10px;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(89deg, #caf3ff 40%, #f0d3f5 75%);
  border-radius: 54px;
}
.tabs {
  display: flex;
  justify-content: left;
  flex-direction: column;
  border: 3px solid #121212;
  background-color: #120e11;
  max-width: 195px;
  border-radius: 37px;
}

main {
  display: flex;
  justify-content: left;
}
.outsidebutt {
  flex-direction: row;
  max-height: 85px;
  border-radius: 22px;
  background-color: transparent;
}

.selectors {
  flex-direction: row;
  max-height: 85px;
  border-radius: 22px;
  background-color: transparent;
  border: transparent;
  color: #a1b0b5;
}
#taskList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: wrap;
  align-content: center;
  align-items: center;
}
body {
  height: 100%;
  background: linear-gradient(281deg, #9fbfc8 40%, #d0aed6 75%);
}
nav {
  display: inline;
  justify-content: space-evenly;
}
footer li {
  display: inline;
}
.searchBar {
  position: fixed;
  top: 48px;
  left: 40vw;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  z-index: 100;
}

.eagle {
  display: flex;
  width: 100%;
}
.johnjones {
  display: flex;
  width: 100%;
  justify-content: center;
}
.MobileSection {
  width: 100%;
  margin-bottom: 2-1rem;
  padding-bottom: 30rem;
  margin-right: -2.5rem;
  margin-left: -56px;
  color: #000;
  background-color: #ded44d;
}
.listening {
  margin-bottom: 2-1rem;
  padding-bottom: 25rem;
  margin-right: -2.5rem;
  margin-left: -56px;
  color: #000;
  background-color: #5453a8;
}
.onboard_info {
  margin: 2rem 0;
  font-size: 1.4rem;
  text-align: center;
  opacity: 1;
  transition: opacity 0.15s linear;
}
.musicListener {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  margin-left: 10px;
  margin-top: 10px;
  aspect-ratio: 4/3;
}
.plane {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  margin-left: 10px;
  margin-top: 10px;
  aspect-ratio: 4/3;
}
@media screen and (min-width: 320px) {
  main {
    font-size: 16px;
  }
}
@media screen and (min-width: 320px) {
  nav {
    display: flex; /* Use flexbox for vertical arrangement */
    flex-direction: row; /* Stack images vertically */
    flex-wrap: wrap;
  }
}
